.fieldSet
  .fieldSet__field
    = f.label :email_address, :class => "fieldSet__label"
    .fieldSet__input
      = f.text_field :email_address, :class => "input input--text", :autofocus => true, :placeholder => "e.g. user@example.com"
      %p.fieldSet__text Enter the full email address that should be mapped to a specific IP address

  .fieldSet__field
    = f.label :ip_address_id, "IP Address", :class => "fieldSet__label"
    .fieldSet__input
      = f.collection_select :ip_address_id, IPAddress.all.order(:ipv4), :id, :ipv4_with_pool_name, { :include_blank => "Please select an IP address" }, { :class => "input input--select" }
      %p.fieldSet__text Select the specific IP address that should be used for this email